<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'TOT' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.process_paths"  href="#">{{'PROCESS_PATH' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PROCESS_PATH_TYPE' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="processPathType.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PICK_DESTINATION' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="pickDestination.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'REBIN_DESTINATION' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="rebinDestination.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'REBIN_WALL_TYPE' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="rebinWallType.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PACKING_STATION_TYPE' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="packDestination.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'SORT_CODE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="sortCode" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'REGENERATE_SHORTED_PICKS' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="regenerateShortedPicks" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MIN_SHIPMENTS_PER_BATCH' | translate}}</label></div>
          <div class="formRight"><input type="number" class="k-textbox" ng-model="minShipmentsPerBatch" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MAX_SHIPMENTS_PER_BATCH' | translate}}</label></div>
          <div class="formRight"><input type="number" class="k-textbox" ng-model="maxShipmentsPerBatch" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MIN_ITEMS_PER_BATCH' | translate}}</label></div>
          <div class="formRight"><input type="number" class="k-textbox" ng-model="minItemsPerBatch" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MAX_ITEMS_PER_BATCH' | translate}}</label></div>
          <div class="formRight"><input type="number" class="k-textbox" ng-model="maxItemsPerBatch" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'COLLATE_TYPE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="collateType" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'COLLATE_DOCUMENTS' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="collateDocuments" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'TOTE_BUFFER_LIMITED' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="toteBufferLimited" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'REJECT_REASONS' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="rejectReasons" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ALLOWED_PICK_TYPES' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="allowedPickTypes" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ALLOWED_CONTAINER_TYPES' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="allowedContainerTypes" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'LABOR_UNIT_CLASS' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="laborUnitClass" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'WEIGHT_LIMIT' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="weightLimit" readonly/></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'SCAN_BIN_FIRST' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="scanBinFirst" readonly/></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'COLOR_BASED_BIN_PICKING' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="colorBasedBinPicking" readonly/></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'COLOR_BASED_ITEM_PICKING' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="colorBasedItemPicking" readonly/></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'ONE_ITEM_PER_TOTE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="oneItemPerTote" readonly/></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'REQUIRE_NEW_TOTE_ON_PICK_AREA_CHANGE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="requireNewToteOnPickAreaChange" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'IDLE_TIMEOUT_IN_SECONDS' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="idleTimeoutInSecond" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'TOTE_RESCAN' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="toteRescan" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PICK_TO_CONTAINER_IMAGE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="pickToContainerImage" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="description" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" ui-sref="main.process_paths">{{'BACK' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>