<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>
    <span>&nbsp;/&nbsp;{{'OUTBOUND' | translate }}&nbsp;/&nbsp;{{'CUSTOMER_ORDER' | translate }}</span>
  </div>
  <div style="margin-top:10px;">
    <!-- search -->
    <span>{{'CUSTOMER_NAME' | translate }}：<input kendo-masked-text-box type="text" ng-model="customerName" style="width:120px;"/></span>
    <span>{{'ENTITY_LOCK' | translate }}：<select kendo-combo-box k-ng-model="entityLock" k-data-text-field="'resourceKey'" k-data-value-field="'resourceValue'" k-filter="'contains'" k-data-source="entityLockSource"></select></span>
    <kendo-button class="k-primary" ng-click="searchGrid()">
      <span class="k-font-icon k-i-search"></span>{{'SEARCH'| translate }}
    </kendo-button>
    <!-- grid -->
    <div class="gridToolbar" ng-controller="outboundCtl">
      <kendo-button class="k-primary gridButton" ng-click="create()"><span class="k-font-icon  k-i-plus"></span>{{'CREATE' | translate }}</kendo-button>
      <kendo-button class="k-primary gridButton" ng-click="delete()"><span class="k-font-icon  k-i-trash"></span>{{'DELETE' | translate }}</kendo-button>
    </div>
    <kendo-grid id="customerOrderGRID" options="customerOrderGridOptions"></kendo-grid>
  </div>
</div>