<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'OUTBOUND' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.customer_order">{{'CUSTOMER_ORDER' | translate }}</a>&nbsp;/&nbsp;{{'UPDATE' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate }}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="client" k-change="'changeClient(client.id)'" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-data-source="$root.clientSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ORDER_STRATEGY' | translate }}</label></div>
          <div class="formRight">
            <select id="orderStrategy" kendo-combo-box k-ng-model="orderStrategy" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="storageLocation" class="required" style="float:right">{{'STORAGE_LOCATION' | translate}}</label></div>
          <div class="formRight">
            <input type="text" ng-dblclick="selectStorageLocation(client)" id="storageLocation" name="storageLocation" class="k-textbox" required readonly validationMessage="{{'WARNING_STORAGE_LOCATION' | translate }}" ng-model="storageLocation.name"/>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="customerName" class="required" style="float:right">{{'CUSTOMER_NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" id="customerName" name="customerName" class="k-textbox" ng-model="customerName"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="customerNo" class="required" style="float:right">{{'CUSTOMER_NO' | translate}}</label></div>
          <div class="formRight"><input type="text" id="customerNo" name="customerNo" class="k-textbox" ng-model="customerNo"/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'SORT_CODE' | translate }}</label></div>
          <div class="formRight">
            <select id="sortCode" kendo-combo-box k-ng-model="sortCode" k-data-text-field="'se'" k-data-value-field="'id'" k-filter="'contains'"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="deliveryDate" class="required" style="float:right">{{'DELIVERY_DATE' | translate}}</label></div>
          <div class="formRight">&nbsp;&nbsp;&nbsp;
            <input kendo-date-time-picker id="deliveryDate" k-format="'yyyy-MM-dd'" type="text" style="width:50%;" name="deliveryDate" readonly class="k-textbox" ng-model="sortCode.exsdTime"/>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="documentUrl" class="required" style="float:right">{{'DOCUMENT_URL' | translate}}</label></div>
          <div class="formRight"><input type="text" id="documentUrl" name="documentUrl" class="k-textbox" ng-model="documentUrl"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="externalNo" class="required" style="float:right">{{'EXTERNAL_NO' | translate}}</label></div>
          <div class="formRight"><input type="text" id="externalNo" name="externalNo" class="k-textbox" ng-model="externalNo"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="labelUrl" class="required" style="float:right">{{'LABEL_URL' | translate}}</label></div>
          <div class="formRight"><input type="text" id="labelUrl" name="labelUrl" class="k-textbox" ng-model="labelUrl"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="orderNo" class="required" style="float:right">{{'ORDER_NO' | translate}}</label></div>
          <div class="formRight"><input type="text" id="orderNo" name="orderNo" class="k-textbox" required validationMessage="{{'WARNING_ORDER_NO' | translate }}" ng-model="orderNo"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="priority" class="required" style="float:right">{{'PRIORITY' | translate}}</label></div>
          <div class="formRight"><input type="number" id="priority" name="priority" class="k-textbox" ng-model="priority"/></div>
        </li>
        <li style="margin-bottom:10px;">
          <div class="formLeft"><label for="state" class="required" style="float:right">{{'STATE' | translate}}</label></div>
          <div class="formRight"><input type="number" id="state" name="state" class="k-textbox" ng-model="state"/></div>
        </li>
      </ul>
    </form>
    <hr>
    <div class="gridToolbar">
      <kendo-button class="k-primary gridButton" ng-click="createDetail('customerOrderPositionGRID')"><span class="k-font-icon k-i-plus"></span>{{'CREATE' | translate }}</kendo-button>
      <kendo-button class="k-primary gridButton" ng-click="deleteDetail('customerOrderPositionGRID')"><span class="k-font-icon k-i-trash"></span>{{'DELETE' | translate }}</kendo-button>
    </div>
    <kendo-grid id="customerOrderPositionGRID" options="customerOrderPositionGridOptions"></kendo-grid>
    <div class="mushiny_btnBox" style="margin-top:10px;text-align:center;margin-left:-23%;">
      <kendo-button class="k-button k-primary mushiny_btn" style="width:220px;" ng-click="validate($event)" translate="UPDATE"></kendo-button>
    </div>
  </div>
</div>