<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>
    <span>&nbsp;/&nbsp;{{'OUTBOUND' | translate }}&nbsp;/&nbsp;{{'ZONE_PROCESS_PATH' | translate }}</span>
  </div>
  <div style="margin-top:10px;">
    <!-- search -->
    <kendo-button class="k-primary" ng-disabled="true">
      <span class="k-font-icon k-i-search"></span>{{'SEARCH'| translate }}
    </kendo-button>
    <!-- grid -->
    <div class="gridToolbar"><kendo-button class="k-primary gridButton"></kendo-button></div>
    <kendo-grid id="zoneProcessPathGRID" options="zoneProcessPathGridOptions"></kendo-grid>
  </div>
</div>