<div class="mushiny-container">
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>
        <span>&nbsp;/&nbsp;{{'OUTBOUND_PROBLEM' | translate }}&nbsp;/&nbsp;{{'OBP_CELL_TYPE' | translate }}</span>
    </div>
    <div style="margin-top:10px;">
        <!-- search -->
        <span>{{'NAME' | translate }}：<input kendo-masked-text-box type="text" ng-model="name"
                                             ng-keyup="keyUp($event)" style="width:120px;"/></span>
        <kendo-button class="k-primary" ng-click="searchGrid()">
            <span class="k-font-icon k-i-search"></span>{{'SEARCH'| translate }}
        </kendo-button>
        <!-- grid -->
        <div class="gridToolbar">
            <span ng-include="'modules/common/templates/gridTool.html'" ng-controller="obpCtl"></span>
        </div>
        <kendo-grid id="obpCellTypeGrid" options="obpCellTypeGridOptions"></kendo-grid>
    </div>
</div>