<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.item_data_global"  href="#" >{{'ITEM_DATA_GLOBAL' | translate }}</a>&nbsp;/&nbsp;{{'UPDATE' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ITEM_GROUP' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="itemGroup" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-data-source="itemGroupSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="skuNo" class="required" style="float:right">{{'SKU_NO' | translate}}</label></div>
          <div class="formRight"><input type="text" id="skuNo" name="skuNo" class="k-textbox" required readonly ng-model="skuNo" validationMessage="{{'WARNING_SKU_NO' | translate }}"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="itemNo" class="required" style="float:right">{{'ITEM_NO' | translate}}</label></div>
          <div class="formRight"><input type="text" id="itemNo" name="itemNo" class="k-textbox" required readonly ng-model="itemNo" validationMessage="{{'WARNING_ITEM_NO' | translate }}"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="name" class="required" style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" id="name" name="name" class="k-textbox" required validationMessage="{{'WARNING_NAME' | translate }}" ng-model="name"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="description" class="required" style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" id="description" name="description" class="k-textbox" ng-model="description"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="safetyStock" class="required" style="float:right">{{'SAFETY_STOCK' | translate}}</label></div>
          <div class="formRight"><input type="number" id="safetyStock" name="safetyStock" class="k-textbox" ng-model="safetyStock"/></div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'LOT_MANDATORY' | translate}}</label></div>
          <div class="formRight">
            <input type="radio" name="lotMandatory" id="lotMandatoryY" class="k-radio" value="true"  ng-model="lotMandatory">
            <label class="k-radio-label" for="lotMandatoryY">&nbsp;Y</label>
            <input type="radio" name="lotMandatory" id="lotMandatoryN" class="k-radio" value="false"  ng-model="lotMandatory" >
            <label class="k-radio-label" for="lotMandatoryN">&nbsp;N</label>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'LOT_TYPE' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="lotType" k-data-text-field="'resourceKey'" k-data-value-field="'selectionValue'"  k-filter="'contains'" k-data-source="lotTypeSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'LOT_UNIT' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="lotUnit" k-data-text-field="'resourceKey'" k-data-value-field="'selectionValue'"  k-filter="'contains'" k-data-source="lotUnitSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="lotThreshold" class="required" style="float:right">{{'LOT_THRESHOLD' | translate}}</label></div>
          <div class="formRight"><input type="number" id="lotThreshold" name="lotThreshold" class="k-textbox" ng-model="lotThreshold"/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'SERIAL_RECORD_TYPE' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="serialRecordType" k-data-text-field="'resourceKey'" k-data-value-field="'selectionValue'"  k-filter="'contains'" k-data-source="serialRecordTypeSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="serialRecordLength" class="required" style="float:right">{{'SERIAL_RECORD_LENGTH' | translate}}</label></div>
          <div class="formRight"><input type="number" id="serialRecordLength" name="serialRecordLength" class="k-textbox" ng-model="serialRecordLength"/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'HANDING_UNIT' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="itemUnit" k-data-text-field="'name'" k-data-value-field="'id'"  k-filter="'contains'" k-data-source="handingUnitSource"></select>
          </div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MEASURED' | translate}}</label></div>
          <div class="formRight">
            <input type="radio" name="measured" id="measuredY" class="k-radio" value="true" ng-model="measured">
            <label class="k-radio-label" for="measuredY">&nbsp;Y</label>
            <input type="radio" name="measured" id="measuredN" class="k-radio" value="false" ng-model="measured">
            <label class="k-radio-label" for="measuredN">&nbsp;N</label>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="width" class="required" style="float:right">{{'LENGTH' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box id="width" name="width" class="k-textbox" k-format="'# mm'" ng-model="width"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="depth" class="required" style="float:right">{{'WIDTH' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box id="depth" name="depth" class="k-textbox" k-format="'# mm'" ng-model="depth"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="height" class="required" style="float:right">{{'HEIGHT' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box id="height" name="height" class="k-textbox" k-format="'# mm'" ng-model="height"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="weight" class="required" style="float:right">{{'WEIGHT' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box id="weight" name="weight" class="k-textbox" k-format="'# g'" ng-model="weight"/></div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MULTIPLE_PART' | translate}}</label></div>
          <div class="formRight">
            <input type="radio" name="multiplePart" id="multiplePartY" class="k-radio" value="true" ng-model="multiplePart">
            <label class="k-radio-label" for="multiplePartY">&nbsp;Y</label>
            <input type="radio" name="multiplePart" id="multiplePartN" class="k-radio" value="false" ng-model="multiplePart">
            <label class="k-radio-label" for="multiplePartN">&nbsp;N</label>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="multiplePartAmount" class="required" style="float:right">{{'MULTIPLE_PART_AMOUNT' | translate}}</label></div>
          <div class="formRight"><input type="number" id="multiplePartAmount" name="multiplePartAmount" class="k-textbox" ng-model="multiplePartAmount"/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PREFER_OWN_BOX' | translate}}</label></div>
          <div class="formRight">
            <input type="radio" name="preferOwnBox" id="preferOwnBoxY" class="k-radio" value="true" ng-model="preferOwnBox">
            <label class="k-radio-label" for="preferOwnBoxY">&nbsp;Y</label>
            <input type="radio" name="preferOwnBox" id="preferOwnBoxN" class="k-radio" value="false" ng-model="preferOwnBox">
            <label class="k-radio-label" for="preferOwnBoxN">&nbsp;N</label>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PREFER_BAG' | translate}}</label></div>
          <div class="formRight">
            <input type="radio" name="preferBag" id="preferBagY" class="k-radio" value="true" ng-model="preferBag">
            <label class="k-radio-label" for="preferBagY">&nbsp;Y</label>
            <input type="radio" name="preferBag" id="preferBagN" class="k-radio" value="false" ng-model="preferBag">
            <label class="k-radio-label" for="preferBagN">&nbsp;N</label>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'USE_BUBBLE_FILM' | translate}}</label></div>
          <div class="formRight">
            <input type="radio" name="useBubbleFilm" id="useBubbleFilmY" class="k-radio" value="true" ng-model="useBubbleFilm">
            <label class="k-radio-label" for="useBubbleFilmY">&nbsp;Y</label>
            <input type="radio" name="useBubbleFilm" id="useBubbleFilmN" class="k-radio" value="false" ng-model="useBubbleFilm">
            <label class="k-radio-label" for="useBubbleFilmN">&nbsp;N</label>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">修改图片</label></div>
          <div class="formRight" style="width: 44%;">
            <input type="file" name="file" id="itemDataFileId"/>
          </div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight" id="updateId"><button class="k-button k-primary" type="submit">{{'UPDATE' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>