<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.item_data_global"  href="#" >{{'ITEM_DATA_GLOBAL' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)" >
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ITEM_GROUP' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="itemGroup.name" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'SKU_NO' | translate}}</label></div>
          <div class="formRight"><input type="text"class="k-textbox" ng-model="skuNo" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'ITEM_NO' | translate}}</label></div>
          <div class="formRight"><input type="text"class="k-textbox" ng-model="itemNo" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox"  ng-model="name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="description" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'SAFETY_STOCK' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="safetyStock" readonly /></div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'LOT_MANDATORY' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="lotMandatory" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'LOT_TYPE' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="lotType" k-data-text-field="'resourceKey'" k-data-value-field="'selectionValue'"  k-filter="'contains'" k-data-source="lotTypeSource" readonly></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'LOT_UNIT' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="lotUnit" k-data-text-field="'resourceKey'" k-data-value-field="'selectionValue'"  k-filter="'contains'" k-data-source="lotUnitSource" readonly></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'LOT_THRESHOLD' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="lotThreshold" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'SERIAL_RECORD_TYPE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="serialRecordType.resourceKey" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'SERIAL_RECORD_LENGTH' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="serialRecordLength" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'HANDING_UNIT' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="itemUnit.name" readonly/></div>
        </li>

        <li>
          <div class="formLeft"><label style="float:right">{{'MEASURED' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="measured" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'LENGTH' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box class="k-textbox" k-format="'# mm'" ng-model="width" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'WIDTH' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box class="k-textbox" k-format="'# mm'" ng-model="depth" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'HEIGHT' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box class="k-textbox" k-format="'# mm'" ng-model="height" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'VOLUME' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box class="k-textbox" k-format="'# mm³'" ng-model="volume" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'WEIGHT' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box class="k-textbox" k-format="'# g'" ng-model="weight" readonly/></div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MULTIPLE_PART' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="multiplePart" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'MULTIPLE_PART_AMOUNT' | translate}}</label></div>
          <div class="formRight"><input type="number" class="k-textbox" ng-model="multiplePartAmount" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PREFER_OWN_BOX' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="preferOwnBox" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PREFER_BAG' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="preferBag" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'USE_BUBBLE_FILM' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="useBubbleFilm" readonly/></div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" ui-sref="main.item_data_global">{{'BACK' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>