<div class="mushiny-container">


  <div style="clear: both" >
    <div id="TopBar" style="display: flex;margin-bottom: 5px;align-items:center;flex-wrap:wrap">
    </div>
    <h3 align="left">Total</h3>
    <div  class="totStatisticsJobTotalbar">
    </div>
    <kendo-grid class="jobrecordGrid" id="totStatisticsJobTotalGRID" options="totStatisticsJobTotalGridOptions"></kendo-grid>
  </div>
  <div>
    <div id="BottomBar" style="display: flex;margin-bottom: 5px;align-items:center;flex-wrap:wrap">
    </div>
    <h3 align="left">Detail</h3>
    <!--<div  class="totStatisticsJobDetailbar">-->
    <!--</div>-->
    <kendo-grid class="jobrecordGrid" id="totStatisticsJobDetailGRID" options="totStatisticsJobDetailGridOptions"></kendo-grid>

    <!--<div  ng-controller="totCtl">-->
      <!--<kendo-button class="k-primary gridButton">-->
        <!--&lt;!&ndash;<span class="k-font-icon k-i-pencil"></span>{{'UPDATE' | translate }}&ndash;&gt;-->
      <!--</kendo-button>-->
    <!--</div>-->
  </div>

</div>