<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_OUTBOUND' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.picking_area">{{'PICKING_AREA' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="client" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="name" readonly/></div>
        </li>
        <li style="margin-bottom:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="description" readonly/></div>
        </li>
      </ul>
    </form>
    <hr>
    <div class="gridToolbar"><kendo-button class="k-primary gridButton"></kendo-button></div>
    <kendo-grid id="pickingAreaPositionGrid" options="pickingAreaPositionGridOptions"></kendo-grid>
    <div class="mushiny_btnBox" style="margin-top:10px;text-align:center;margin-left:-23%;">
      <kendo-button class="k-button k-primary mushiny_btn" style="width:220px;" ui-sref="main.picking_area" translate="BACK"></kendo-button>
    </div>
  </div>
</div>