<div class="comPage">{{'WELCOME' | translate }} <span id="pick_user"></span> {{'PICK_SYSTEM' | translate }}</div>
<div style="margin-left:10px;">
  <div class="pickFont" style="margin-top:30px;font-weight:600;">{{'PICK_MODEL' | translate }}：</div>
  <div class="pickFont"><kendo-button class="pickButton k-primary" ui-sref="main.pickToPack">1 {{'PICK_TO_PACK' | translate }}</kendo-button></div>
  <div class="pickFont"><kendo-button class="pickButton k-primary" ui-sref="main.pickToTote">2 {{'PICK_TO_TOTE'| translate }}</kendo-button></div>
  <div class="pickFont"><kendo-button class="pickButton k-primary" ui-sref="main.pickToSinglePack">3 {{'Single_Pick&Pack'| translate }}</kendo-button></div>
</div>