<kendo-button class="k-primary gridButton" ng-click="create()">
  <span class="k-font-icon k-i-plus"></span>{{'CREATE' | translate }}
</kendo-button>
<kendo-button class="k-primary gridButton" ng-click="update()">
  <span class="k-font-icon k-i-pencil"></span>{{'UPDATE' | translate }}
</kendo-button>
<kendo-button class="k-primary gridButton" ng-click="delete()">
  <span class="k-font-icon k-i-trash"></span>{{'DELETE' | translate }}
</kendo-button>
<!--<kendo-button class="k-primary gridButton" ng-click="import()">-->
  <!--<span class="k-font-icon  k-i-lock"></span>{{'IMPORT' | translate }}-->
<!--</kendo-button>-->
<!--<kendo-button class="k-primary gridButton" ng-click="export()">-->
  <!--<span class="k-font-icon k-i-unlock"></span>{{'EXPORT' | translate }}-->
<!--</kendo-button>-->
