<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a><span>&nbsp;/&nbsp;修改密码</span>
  </div>
  <div style="margin-top:10px;height:auto;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label for="oldPassword" class="required" style="float:right">旧密码</label></div>
          <div class="formRight">
            <input type="password" id="oldPassword" name="oldPassword" class="k-textbox" required validationMessage="{{'WARNING_PASSWORD' | translate }}" ng-model="oldPassword"/>
          </div>
        </li>
        <li >
          <div class="formLeft"><label for="newPassword" class="required" style="float:right">新密码</label></div>
          <div class="formRight">
            <input type="password" id="newPassword" name="newPassword" class="k-textbox" required validationMessage="{{'WARNING_PASSWORD' | translate }}" ng-model="newPassword"/>
          </div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label for="confirmPassword" class="required" style="float:right">确认密码</label></div>
          <div class="formRight">
            <input type="password" id="confirmPassword" name="confirmPassword" class="k-textbox" required validationMessage="{{'WARNING_PASSWORD' | translate }}" ng-model="confirmPassword"/>
          </div>
        </li>
        <li>
          <div class="formLeft"><label  class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" type="submit">{{'UPDATE' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>