<div style="padding:5px;"><kendo-button ng-click="moveRightAll1()"><span class="k-font-icon k-i-seek-e"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveRightSelect1()"><span class="k-font-icon k-i-arrowhead-e"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveLeftSelect1()"><span class="k-font-icon k-i-arrowhead-w"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveLeftAll1()"><span class="k-font-icon k-i-seek-w"></span></kendo-button></div>
