<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_OUTBOUND' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.pick_pack_wall_type" href="#">{{'PICK_PACK_WALL_TYPE' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="name" readonly /></div>
        </li>
        <li style="margin-bottom:10px;">
          <div class="formLeft"><label style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="description" readonly /></div>
        </li>
        <!--<div>cell顺序</div>-->
        <!--<div style="width:100%;overflow:scroll;margin-top:10px;">-->
          <!--<table border='0' cellpadding='0' cellspacing='0'-->
                 <!--style='width:{{ frontTableWidth }}px;text-align:center;'>-->
            <!--<tr>-->
              <!--<td ng-repeat="fieldType in pickPackFieldTypes"-->
                  <!--style="width:{{ 120*fieldType.numberOfColumns }}px;height:100%;">-->
                <!--<table border='1' cellpadding='0' cellspacing='0'-->
                       <!--style='width:100%;height:100%;text-align:center;border-color:white;'>-->
                  <!--<tr ng-repeat="row in toItems(fieldType.numberOfRows) track by $index">-->
                    <!--<td style="width:100px;"-->
                        <!--ng-repeat="column in toItems(fieldType.numberOfColumns) track by $index">-->
                      <!--<input class="everyCell"-->
                             <!--k-data-text-field="'name'" k-data-value-field="'id'"-->
                             <!--k-filter="'contains'" required-->
                             <!--style='width:100%;'/>-->
                    <!--</td>-->
                  <!--</tr>-->
                <!--</table>-->
              <!--</td>-->
            <!--</tr>-->
          <!--</table>-->
        <!--</div>-->
      </ul>
    </form>
    <hr>
    <div class="gridToolbar"><kendo-button class="k-primary gridButton"></kendo-button></div>
    <kendo-grid id="stationTypePositionGrid" options="stationTypePositionGridOptions"></kendo-grid>
    <div><label class="required" style="float:left">CELL 顺序</label></div>
    <div id="pickPackCellPosition"></div>
    <div class="mushiny_btnBox" style="margin-top:180px;text-align:center;margin-left:-23%;">
      <kendo-button class="k-button k-primary mushiny_btn" style="width:220px;" ui-sref="main.pick_pack_wall_type" translate="BACK"></kendo-button>
    </div>
  </div>
</div>