<div class="mushiny-container">
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_INBOUND' | translate }}&nbsp;/&nbsp;<a
            ui-sref="main.advice_request">{{'ADVICE_REQUEST' | translate }}</a>&nbsp;/&nbsp;{{'CREATE' | translate }}</span>
    </div>
    <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
        <form kendo-validator="validator">
            <ul class="ulCls">
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate }}</label>
                    </div>
                    <div class="formRight">
                        <select kendo-combo-box k-ng-model="client" k-change="'changeClient(client.id)'"
                                k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'"
                                k-data-source="$root.clientSource"></select>
                    </div>
                </li>
                <li style="margin-bottom:10px;">
                    <div class="formLeft"><label for="expectedDelivery" class="required" style="float:right">{{'EXPECTED_DELIVERY'
                        | translate}}</label></div>
                    <div class="formRight">&nbsp;&nbsp;&nbsp;
                        <input kendo-date-time-picker id="expectedDelivery" k-format="'yyyy-MM-dd HH:mm:ss'" type="text"
                               style="width:50%;" name="expectedDelivery" class="k-textbox"
                               ng-model="expectedDelivery"/>
                    </div>
                </li>
            </ul>
        </form>
        <hr>
        <div class="gridToolbar">
            <kendo-button class="k-primary gridButton" ng-click="createDetail('adviceRequestPositionGrid')"><span
                    class="k-font-icon k-i-plus"></span>{{'CREATE' | translate }}
            </kendo-button>
            <kendo-button class="k-primary gridButton" ng-click="deleteDetail('adviceRequestPositionGrid')"><span
                    class="k-font-icon k-i-trash"></span>{{'DELETE' | translate }}
            </kendo-button>
        </div>
        <kendo-grid id="adviceRequestPositionGrid" options="adviceRequestPositionGridOptions"></kendo-grid>
        <div class="mushiny_btnBox" style="margin-top:10px;text-align:center;margin-left:-23%;">
            <kendo-button class="k-button k-primary mushiny_btn" style="width:220px;" ng-click="validate($event)"
                          translate="SAVE"></kendo-button>
        </div>
    </div>
</div>