<div class="mushiny-container">
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>
        <span>&nbsp;/&nbsp;{{'MASTER_INBOUND' | translate }}&nbsp;/&nbsp;{{'ADVICE_REQUEST' | translate }}</span>
    </div>
    <div style="margin-top:10px;">
        <!-- search -->
        <span>{{'ADVICE_NO' | translate }}：<input kendo-masked-text-box type="text" ng-model="adviceNo"
                                                  ng-keyup="keyUp($event)" style="width:120px;"/></span>
        <span>{{'ENTITY_LOCK' | translate }}：<select kendo-combo-box k-ng-model="entityLock"
                                                     k-data-text-field="'resourceKey'"
                                                     k-data-value-field="'resourceValue'" k-filter="'contains'"
                                                     k-change="'changeSearch()'"
                                                     k-data-source="entityLockSource"></select></span>
        <kendo-button class="k-primary" ng-click="searchGrid()">
            <span class="k-font-icon k-i-search"></span>{{'SEARCH'| translate }}
        </kendo-button>
        <!-- grid -->
        <div class="gridToolbar" ng-controller="masterCtl">
            <kendo-button class="k-primary gridButton" ng-click="create()"><span class="k-font-icon k-i-plus"></span>{{'CREATE'
                | translate }}
            </kendo-button>
            <kendo-button class="k-primary gridButton" ng-click="delete1()"><span class="k-font-icon k-i-trash"></span>{{'DELETE'
                | translate }}
            </kendo-button>
            <kendo-button class="k-primary gridButton" ng-click="lock()"><span class="k-font-icon k-i-lock"></span>{{'LOCK'
                | translate }}
            </kendo-button>
        </div>

        <kendo-grid id="adviceRequestGrid" options="adviceRequestGridOptions"></kendo-grid>
    </div>
</div>