<div class="mushiny-container">
<!--<div style="line-height:40px;background:#3f70ca;font-size:20px;font-weight:600;padding-left:10px;color:white;">{{'MASTER_ROBOT'| translate }}—{{'ROBOT_LAVEBATTERY'| translate }}</div>-->
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>
        <span>&nbsp;/&nbsp;{{'MASTER_ROBOT' | translate }}&nbsp;/&nbsp;{{'ROBOT_LAVEBATTERY' | translate }}</span>
    </div>
    <div style="text-align:center;margin-top:10px;" >
    <input type="text" class="k-textbox" style="width:300px" id="robotBatteryId" placeholder="请输入小车Id" ng-model="robotId" ng-keyup="robotBattery($event)">
    <kendo-button class="k-primary"  style="font-size:18px;"  ng-click="robotBatterySearch()">{{'SEARCH'| translate }}</kendo-button>
</div>
<div style="padding: 1em">
    <div style="font-size:18px;margin:auto;text-align:center;">
        <kendo-grid class="inboundGrid" id="robotGrid" options="robotBatteryOptions"></kendo-grid>
    </div>
</div>
</div>