<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.robot_type"  href="#" >{{'ROBOT_TYPE' | translate }}</a>&nbsp;/&nbsp;{{'CREATE' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label for="type" class="required" style="float:right">{{'类型ID'}}</label></div>
          <div class="formRight"><input type="text" id="type" name="type" class="k-textbox" required validationMessage="类型ID不能为空！" ng-model="type"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="name" class="required" style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" id="name" name="name" class="k-textbox" required validationMessage="{{'WARNING_NAME' | translate }}" ng-model="name"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="additionalContent" class="required" style="float:right">{{'ADDITIONAL_CONTENT' | translate}}</label></div>
          <div class="formRight"><input type="text" id="additionalContent" name="additionalContent" class="k-textbox" ng-model="additionalContent"/></div>
        </li>
        <li>
          <div class="formLeft"><label  class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" type="submit">{{'SAVE' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>