<div class="mushiny-container">
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_OUTBOUND' | translate }}&nbsp;/&nbsp;<a
            ui-sref="main.packing_station_type" href="#">{{'PACKING_STATION_TYPE' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
    </div>
    <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
        <form kendo-validator="validator" ng-submit="validate($event)">
            <ul class="ulCls">
                <li>
                    <div class="formLeft"><label style="float:right">{{'NAME' | translate}}</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="name" readonly/></div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'PACK_STATION_TYPE' | translate
                        }}</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="packStationType" readonly/>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label style="float:right">{{'IF_SCAN' | translate}}</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="ifScan" readonly/></div>
                </li>
                <li>
                    <div class="formLeft"><label style="float:right">{{'IF_PRINT' | translate}}</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="ifPrint" readonly/></div>
                </li>
                <li>
                    <div class="formLeft"><label style="float:right">{{'IF_SCAN_INVOICE' | translate}}</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="ifScanInvoice" readonly/>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label style="float:right">{{'IF_WEIGHT' | translate}}</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="ifWeight" readonly/></div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">是否扫描包装箱型</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="isScanBoxType" readonly/>
                    </div>
                </li>
                <li style="margin-bottom:10px;">
                    <div class="formLeft"><label style="float:right">{{'DESCRIPTION' | translate}}</label></div>
                    <div class="formRight"><input type="text" class="k-textbox" ng-model="description" readonly/></div>
                </li>
            </ul>
        </form>
        <hr>
        <div class="gridToolbar">
            <kendo-button class="k-primary gridButton"></kendo-button>
        </div>
        <kendo-grid id="stationTypePositionGrid" options="stationTypePositionGridOptions"></kendo-grid>
        <div class="mushiny_btnBox" style="margin-top:10px;text-align:center;margin-left:-23%;">
            <kendo-button class="k-button k-primary mushiny_btn" style="width:220px;"
                          ui-sref="main.packing_station_type" translate="BACK"></kendo-button>
        </div>
    </div>
</div>