<div class="mushiny-container">
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_OUTBOUND' | translate }}&nbsp;/&nbsp;<a
            ui-sref="main.packing_station_type" href="#">{{'PACKING_STATION_TYPE' | translate }}</a>&nbsp;/&nbsp;{{'UPDATE' | translate }}</span>
    </div>
    <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
        <form kendo-validator="validator">
            <ul class="ulCls">
                <li>
                    <div class="formLeft"><label for="name" class="required" style="float:right">{{'NAME' |
                        translate}}</label></div>
                    <div class="formRight"><input type="text" id="name" name="name" class="k-textbox" required
                                                  validationMessage="{{'WARNING_NAME' | translate }}" ng-model="name"/>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'PACK_STATION_TYPE' |
                        translate}}</label></div>
                    <div class="formRight">
                        <select kendo-combo-box type="text" class="k-textbox" k-data-source="packStationTypeSource"
                                required validationMessage="{{'WARNING_NAME' | translate }}" k-value="packStationType"
                                ng-model="packStationType"></select>
                    </div>
                </li>
                <li style="margin-top:10px;">
                    <div class="formLeft"><label class="required" style="float:right">{{'IF_SCAN' | translate}}</label>
                    </div>
                    <div class="formRight">
                        <input type="radio" name="ifScan" id="ifScanTrue" class="k-radio" value="true"
                               ng-model="ifScan">
                        <label class="k-radio-label" for="ifScanTrue">True</label>
                        <input type="radio" name="ifScan" id="ifScanFalse" class="k-radio" value="false"
                               ng-model="ifScan">
                        <label class="k-radio-label" for="ifScanFalse">False</label>
                    </div>
                </li>
                <li style="margin-top:10px;">
                    <div class="formLeft"><label class="required" style="float:right">{{'IF_PRINT' | translate}}</label>
                    </div>
                    <div class="formRight">
                        <input type="radio" name="ifPrint" id="ifPrintTrue" class="k-radio" value="true"
                               ng-model="ifPrint">
                        <label class="k-radio-label" for="ifPrintTrue">True</label>
                        <input type="radio" name="ifPrint" id="ifPrintFalse" class="k-radio" value="false"
                               ng-model="ifPrint">
                        <label class="k-radio-label" for="ifPrintFalse">False</label>
                    </div>
                </li>
                <li style="margin-top:10px;">
                    <div class="formLeft"><label class="required" style="float:right">{{'IF_SCAN_INVOICE' |
                        translate}}</label></div>
                    <div class="formRight">
                        <input type="radio" name="ifScanInvoice" id="ifScanInvoiceTrue" class="k-radio" value="true"
                               ng-model="ifScanInvoice">
                        <label class="k-radio-label" for="ifScanInvoiceTrue">True</label>
                        <input type="radio" name="ifScanInvoice" id="ifScanInvoiceFalse" class="k-radio" value="false"
                               ng-model="ifScanInvoice">
                        <label class="k-radio-label" for="ifScanInvoiceFalse">False</label>
                    </div>
                </li>
                <li style="margin-top:10px;">
                    <div class="formLeft"><label class="required" style="float:right">{{'IF_WEIGHT' |
                        translate}}</label></div>
                    <div class="formRight">
                        <input type="radio" name="ifWeight" id="ifWeightTrue" class="k-radio" value="true"
                               ng-model="ifWeight">
                        <label class="k-radio-label" for="ifWeightTrue">True</label>
                        <input type="radio" name="ifWeight" id="ifWeightFalse" class="k-radio" value="false"
                               ng-model="ifWeight">
                        <label class="k-radio-label" for="ifWeightFalse">False</label>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">是否扫描包装箱型</label></div>
                    <div class="formRight">
                        <select kendo-combo-box type="text" class="k-textbox" k-data-source="isScanBoxTypeSource"
                                required k-value="isScanBoxType" ng-model="isScanBoxType"></select>
                    </div>
                </li>
                <li style="margin-bottom:10px;">
                    <div class="formLeft"><label for="description" class="required" style="float:right">{{'DESCRIPTION'
                        | translate}}</label></div>
                    <div class="formRight"><input type="text" id="description" name="description" class="k-textbox"
                                                  ng-model="description"/></div>
                </li>
            </ul>
        </form>
        <hr>
        <div class="gridToolbar">
            <kendo-button class="k-primary gridButton" ng-click="createDetail('stationTypePositionGrid')"><span
                    class="k-font-icon k-i-plus"></span>{{'CREATE' | translate }}
            </kendo-button>
            <kendo-button class="k-primary gridButton" ng-click="deleteDetail('stationTypePositionGrid')"><span
                    class="k-font-icon k-i-trash"></span>{{'DELETE' | translate }}
            </kendo-button>
        </div>
        <kendo-grid id="stationTypePositionGrid" options="stationTypePositionGridOptions"></kendo-grid>
        <div class="mushiny_btnBox" style="margin-top:10px;text-align:center;margin-left:-23%;">
            <kendo-button class="k-button k-primary mushiny_btn" style="width:220px;" ng-click="validate($event)"
                          translate="UPDATE"></kendo-button>
        </div>
    </div>
</div>