<div class="mushiny-container">
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
            ui-sref="main.charging_pile" href="#">{{'CHARGING_PILE' | translate }}</a>&nbsp;/&nbsp;{{'CREATE' | translate }}</span>
    </div>
    <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
        <form kendo-validator="validator" ng-submit="validate($event)">
            <ul class="ulCls">
                <li>
                    <div class="formLeft"><label for="name" class="required" style="float:right">{{'NAME' |
                        translate}}</label></div>
                    <div class="formRight"><input type="text" id="name" name="name" class="k-textbox" required
                                                  validationMessage="{{'WARNING_NAME' | translate }}" ng-model="name"/>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">区域</label></div>
                    <div class="formRight">
                        <select kendo-combo-box k-ng-model="section" k-data-text-field="'name'"
                                k-change="'changeSection(section.id)'" k-data-value-field="'id'" k-filter="'contains'"
                                k-data-source="sectionSource"></select>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">地标</label></div>
                    <div class="formRight">
                        <select kendo-combo-box id="placeMark" k-ng-model="placeMark" k-data-text-field="'placeMark'"
                                k-data-value-field="'id'" k-filter="'contains'"></select>
                    </div>
                </li>

                <li>
                    <div class="formLeft"><label class="required" style="float:right">朝向</label>
                    </div>
                    <div class="formRight">
                        <select kendo-combo-box ng-model="toWard" k-data-source="toWardSource"></select>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">状态</label>
                    </div>
                    <div class="formRight">
                        <select kendo-combo-box ng-model="state" k-data-source="stateSource"></select>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">充电桩Id</label></div>
                    <div class="formRight"><input type="number" id="chargerId" name="chargerId" class="k-textbox"
                                                  ng-model="chargerId"/>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">充电桩类型</label></div>
                    <div class="formRight"><input type="number" id="chargerType" name="chargerType" class="k-textbox"
                                                  ng-model="chargerType"/>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
                    <div class="formRight">
                        <button class="k-button k-primary" type="submit">{{'SAVE' | translate}}</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>