<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.pod" href="#">{{'POD' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="client" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'NAME' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'POD_TYPE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="podType.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ZONE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="zone.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PLACE_MARK' | translate}}</label></div>
          <div class="formRight"><input  class="k-textbox" ng-model="placeMark" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ITEM_SELLING_DEGREE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="sellingDegree" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="description" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'POD_INDEX' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="podIndex" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'TO_WARD' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="toWard" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">xPos</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="xPos" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">yPos</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="yPos" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ADDR_CODE_ID_TAR' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="addrCodeIdTar" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'STATE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="state" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'SECTION' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="section.name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" ui-sref="main.pod">{{'BACK' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>