<div class="mushiny-container">
    <div class="mushiny-nav">
        <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
            ui-sref="main.pod" href="#">{{'POD' | translate }}</a>&nbsp;/&nbsp;{{'CREATE' | translate }}</span>
    </div>
    <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
        <form kendo-validator="validator" ng-submit="validate($event)">
            <ul class="ulCls">
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate}}</label>
                    </div>
                    <div class="formRight">
                        <select kendo-combo-box k-ng-model="client" k-change="'changeClient(client.id)'"
                                k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'"
                                k-data-source="clientSource"></select>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'SECTION' | translate}}</label>
                    </div>
                    <div class="formRight">
                        <select kendo-combo-box k-ng-model="section" k-change="'changeSection(section.id)'"
                                k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'"
                                k-data-source="sectionSource"></select>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'ZONE' | translate}}</label>
                    </div>
                    <div class="formRight"><select kendo-combo-box id="zone" k-ng-model="zone"
                                                   k-data-text-field="'name'" k-data-value-field="'id'"
                                                   k-filter="'contains'"></select></div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'AREA' | translate}}</label>
                    </div>
                    <div class="formRight"><select kendo-combo-box id="area" k-ng-model="area"
                                                   k-data-text-field="'name'" k-data-value-field="'id'"
                                                   k-filter="'contains'"></select></div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'POD' | translate}}</label>
                    </div>
                    <div class="formRight">
                        <input type="number" style="float:left;width:22.5%" class="k-textbox" ng-model="podFrom"/>
                        <span style="float:left;width:4%;text-align:center;margin-top:7px;">{{'TO' | translate}}</span>
                        <input type="number" style="float:left;width:22.5%" required validationMessage=""
                               class="k-textbox" ng-model="podTo"/>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'POD_TYPE' | translate}}</label>
                    </div>
                    <div class="formRight">
                        <select kendo-combo-box k-ng-model="podType" k-data-text-field="'name'"
                                k-data-value-field="'id'" k-filter="'contains'" k-data-source="podTypeSource"></select>
                    </div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">{{'STATE' | translate}}</label>
                    </div>
                    <div class="formRight">
                        <select kendo-combo-box ng-model="state" k-data-source="stateSource"></select>
                    </div>
                </li>

                <li>
                    <div class="formLeft"><label for="description" class="required" style="float:right">{{'DESCRIPTION'
                        | translate}}</label></div>
                    <div class="formRight"><input type="text" id="description" name="description" class="k-textbox"
                                                  ng-model="description"/></div>
                </li>
                <li>
                    <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
                    <div class="formRight">
                        <button class="k-button k-primary" type="submit">{{'SAVE' | translate}}</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>