<div style="padding:5px;"><kendo-button ng-click="moveRightAll()"><span class="k-font-icon k-i-seek-e"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveRightSelect()"><span class="k-font-icon k-i-arrowhead-e"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveLeftSelect()"><span class="k-font-icon k-i-arrowhead-w"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveLeftAll()"><span class="k-font-icon k-i-seek-w"></span></kendo-button></div>
