<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <springProfile name="dev">
        <property name="LOG_HOME" value="E:/SpDevLogs"/>
    </springProfile>
    <!-- 生成环境变量product-->
    <springProfile name="pro">
        <property name="LOG_HOME" value="/home"/>
    </springProfile>
    <!--牧星日志输出-->
    <logger name="com.mushiny" level="DEBUG"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 日志文件:按照每天生成 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                [ %-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] %logger{96} [%line] - %msg%n
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集，防止中文乱码 -->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件地址和名称-->
            <FileNamePattern>${LOG_HOME}/mslab/logs/moduleManage/moduleManage_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 最大1MB 超过最大值，会重新建一个文件-->
                <maxFileSize>100 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>365</MaxHistory>
        </rollingPolicy>

    </appender>

    <!-- 日志输出级别 -->
    <root level="ERROR">
        <!-- 日志输出地点,输出一个就行 -->
        <!--  <appender-ref ref="STDOUT"/>-->

        <appender-ref ref="FILE"/>
    </root>

</configuration>