<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_OUTBOUND' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.box_type" href="#">{{'BOX_TYPE' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label style="float:right">{{'CLIENT' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="client" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="name" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'GROUP' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="group" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'LENGTH' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box k-format="'# mm'" class="k-textbox" ng-model="width" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'WIDTH' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box k-format="'# mm'" class="k-textbox" ng-model="depth" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'HEIGHT' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box k-format="'# mm'" class="k-textbox" ng-model="height" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'THICKNESS' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box k-format="'# mm'" class="k-textbox" ng-model="thickness" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'VOLUME' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box k-format="'# mm³'" class="k-textbox" ng-model="volume" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'WEIGHT' | translate}}</label></div>
          <div class="formRight"><input kendo-numeric-text-box k-format="'# g'" class="k-textbox" ng-model="weight" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="description" readonly /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" ui-sref="main.box_type">{{'BACK' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>