<div class="mushiny-container" ng-show="podstatus==='0'">
    <span class="v-h-center" style="height: 5%;width:100%;font-weight: bold;font-size: large">请扫描要上架的pod号码</span>
    <div class="mushiny-middle" style="width:100%;height:85%;float: left;">
        <div class="POD" style="width:30%;height:85%;float: left;">
            <div class="grid_pod_layout" style="width:30%;height:60%;float: left;">

            </div>
            <div style="width:30%;height:25%;float: left;">
                <div style="float: left;width:10%;height:25%">
                    <span style="width:10%;height:10%;float: left;">残品</span>
                    <div style="width: 10%;height:15%;float: left;background-color: #9b9b9b"></div>
                </div>
                <div style="float: left;width:10%;height:25%">
                    <span style="width:10%;height:10%;float: left;">测量</span>
                    <div style="width: 10%;height:15%;float: left;background-color: #9b9b9b"></div>
                </div>
                <div style="float: left;width:10%;height:25%">
                    <span style="width:10%;height:10%;float: left;">待调查</span>
                    <div style="width: 10%;height:15%;float: left;background-color: #9b9b9b"></div>
                </div>
            </div>
        </div>
        <div style="width: 70%;height:85%;margin-left: 10px">
            <div class="DN" style="width: 85%;height: 25%;">
                <span style="width: 85%;height:5%">DN号码</span>
                <div style="width: 85%;height: 20%;float: left;"></div>
            </div>
            <div class="PRODUCT_INFO" style="width:85%;height:35%">
                <span style="width: 85%;height:5%">商品信息</span>
                <div style="width: 85%;height: 20%;float: left;"></div>
            </div>
            <div class="STATUS" style="width:85%;height:25%">
                <span style="width: 85%;height:5%">状态</span>
                <div style="width: 85%;height: 20%;float: left;"></div>
            </div>
        </div>
    </div>
    <div class="k-footer" style="width: 100%;height: 10%;background-color: #9acfea;padding: 2%">
        <button class="k-primary" style="width: 10%;height: 8%;float: left;">批量模式</button>
        <button class="k-primary" style="width: 10%;height: 8%;float: left;margin-left: 8%">单件模式</button>
        <button class="k-primary" style="width: 10%;height: 8%;float: left;margin-left: 8%">问题菜单</button>
        <button class="k-primary" style="width: 10%;height: 8%;float: left;margin-left: 8%">货位类型</button>
        <button class="k-primary" style="width: 10%;height: 8%;float: left;margin-left: 8%">结束收货</button>
        <button class="k-primary" style="width: 10%;height: 8%;float: left;margin-left: 8%">释放Pod</button>
    </div>
</div>