<div style="padding:5px;"><kendo-button ng-click="moveFirst()"><span class="k-font-icon k-i-seek-n"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveUp()"><span class="k-font-icon k-i-arrowhead-n"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveDown()"><span class="k-font-icon k-i-arrowhead-s"></span></kendo-button></div>
<div style="padding:5px;"><kendo-button ng-click="moveLast()"><span class="k-font-icon k-i-seek-s"></span></kendo-button></div>
