<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'OUTBOUND' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.customer_shipment">{{'CUSTOMER_SHIPMENT' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="client.name" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'ORDER_STRATEGY' | translate }}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="orderStrategy.name" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CUSTOMER_NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="customerName" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CUSTOMER_NO' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="customerNo" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'SHIPMENT_NO' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="shipmentNo" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'DELIVERY_DATE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="deliveryDate" readonly/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PRIORITY' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="priority" readonly/></div>
        </li>
        <li style="margin-bottom:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'STATE' | translate}}</label></div>
          <div class="formRight"><input type="text" class="k-textbox" ng-model="state" readonly/></div>
        </li>
      </ul>
    </form>
    <hr>
    <div class="gridToolbar"><kendo-button class="k-primary gridButton"></kendo-button></div>
    <kendo-grid id="customerShipmentPositionGRID" options="customerShipmentPositionGridOptions"></kendo-grid>
    <div class="mushiny_btnBox" style="margin-top:10px;text-align:center;margin-left:-23%;">
      <kendo-button class="k-button k-primary mushiny_btn" style="width:220px;" ui-sref="main.customer_shipment" translate="BACK"></kendo-button>
    </div>
  </div>
</div>