<div style="line-height:40px;background:#3f70ca;font-size:20px;font-weight:600;padding-left:10px;color:white;">盘点任务创建</div>
<div style="margin-top:10px;margin-left:10px;">
  <div style="float:left;width:280px;"><span style="font-size:16px;">任务名称</span>&nbsp;&nbsp;<input type="text" class="k-textbox" ng-model="icqaName">&nbsp;&nbsp;</div>
  <div style="float:left;width:280px;"><span style="font-size:16px;">盘点数量</span>&nbsp;&nbsp;<input type="number" class="k-textbox" ng-model="icqaAmount">&nbsp;&nbsp; </div>
  <div style="float:left;width: 355px;"><span style="font-size:16px;float:left;">指定区域</span>&nbsp;&nbsp;
    <select style="float:left;margin-left:10px;;width: 245px;" kendo-multi-select id="zoneId" k-ng-model="zone" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'"></select>&nbsp;&nbsp;</div>
  <div style="float:left;"><span style="font-size:16px;">盘点方式</span>&nbsp;&nbsp;
  <select kendo-combo-box ng-model="stocktakingType" k-data-source="stocktakingTypeSource" id="typeId" style="width:280px;"></select>&nbsp;&nbsp;</div>
</div>

<div style="margin-top:50px;margin-left:10px;">
  <div style="float:left;">
  <span style="font-size:16px;">盘点要素</span>&nbsp;&nbsp;
    <select style="width:280px;" id="stocktakingRulesId" k-change="'addStocktakingOrder(stocktakingRule)'" kendo-combo-box k-ng-model="stocktakingRule" k-data-text-field="'name'" k-data-value-field="'id'"
            k-filter="'contains'" k-data-source="stocktakingRuleSource"></select>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="font-size:16px;">自定义天数</span>&nbsp;&nbsp;<input type="number" class="k-textbox" ng-model="day">&nbsp;&nbsp;
  </div>
  <div style="float:right;">
    <span ng-controller="icqaCtl"></span>
    <kendo-button class="k-primary" style="float:left;font-size:18px;margin-right:20px;" ng-click="saveIcqaCreate()">{{'SAVE'| translate }}</kendo-button>
    <kendo-button class="k-primary" style="float:left;font-size:18px;margin-right:20px;" ng-click="deleteStocktaking()">{{'DELETE'| translate }}</kendo-button>
    <kendo-button class="k-primary" style="float:left;font-size:18px;margin-right:20px;" ng-click="exportLocationData()">下载模板</kendo-button>
    <kendo-button class="k-primary" style="float:left;font-size:18px;margin-right:20px;" ng-click="import('stocktakingOrders')">批量导入</kendo-button>
  </div>
</div>

<div style="margin-top:5px;margin-left:10px;margin-right:10px;float:left;">
  <kendo-grid class="inboundGrid" id="stocktakingGridId" options="stocktakingGridOption"></kendo-grid>
</div>

<!--盘点数量超出-->
<div kendo-window="stocktakingWindow" id="stocktakingId" k-title="'盘点数量超出'" k-visible="false" k-modal="true">
  <div style="text-align:center;width:100%;font-size:20px;margin-top:20px;">盘点数量大于总数 ，请重新输入百分比</div>
  <div style="text-align:center;width:100%;margin-top:20px;">
    <kendo-button class="k-primary ReceiptBut" ng-click="stocktakingWindow.close()">{{'CANCEL' | translate }}</kendo-button>
  </div>
</div>

<!--盘点任务是否重名---->
<div kendo-window="inventoryTaskWindow" id="inventoryTaskId" k-title="'盘点任务重名'" k-visible="false" k-modal="true">
  <div style="text-align:center;width:100%;font-size:20px;margin-top:20px;">任务名称重名</div>
  <div style="text-align:center;width:100%;margin-top:20px;">
    <kendo-button class="k-primary ReceiptBut" ng-click="inventoryTaskWindow.close()">{{'SURE' | translate }}</kendo-button>
  </div>
</div>

<!--盘点方式不能为空---->
<div kendo-window="inventoryTypeWindow" id="inventoryTypeId" k-title="'提示框'" k-visible="false" k-modal="true">
  <div style="text-align:center;width:100%;font-size:20px;margin-top:20px;">{{title}}</div>
  <div style="text-align:center;width:100%;margin-top:20px;">
    <kendo-button class="k-primary ReceiptBut" ng-click="inventoryTypeWindow.close()">{{'SURE' | translate }}</kendo-button>
  </div>
</div>