<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'SYSTEM_MANAGE' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.selection">{{'SELECTION' | translate }}</a>&nbsp;/&nbsp;{{'READ' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form style="width:100%;">
      <ul class="ulCls">
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'SELECTION_KEY' | translate}}</label></div>
          <div class="formRight"></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'SELECTION_VALUE' | translate}}</label></div>
          <div class="formRight"></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'ORDER_INDEX' | translate}}</label></div>
          <div class="formRight"></div>
        </li>
        <li style="margin-top:10px;">
          <div class="formLeft"><label class="required" style="float:right">{{'RESOURCE_KEY' | translate}}</label></div>
          <div class="formRight"></div>
        </li>
        <li>
        <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
        <div class="formRight">
          <button class="k-button k-primary" ui-sref="main.selection">{{'BACK' | translate}}</button>
        </div>
        </li>
       </ul>
    </form>
  </div>
</div>