<div class="comPage">欢迎{{userName}}进入包装系统</div>
<div style="margin-left:10px;">
  <div class="outboundFont" style="margin-top:30px;font-weight: 600;">请选择包装模式：</div>
  <div class="outboundFont" >
    <kendo-button class="outboundButton k-primary " ng-click="packScanGoods()">1.Pack扫描商品</kendo-button>
  </div>
  <div class="outboundFont" >
    <kendo-button class="outboundButton k-primary"  ng-click="packNoScanGoods()" >2.Pack不扫描商品</kendo-button>
  </div>
  <div class="outboundFont" >
    <kendo-button class="outboundButton k-primary"  ng-click="packScanShipment()" >3.Pack订单扫描</kendo-button>
  </div>
</div>