<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_OUTBOUND' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.picking_category">{{'PICKING_CATEGORY' | translate }}</a>&nbsp;/&nbsp;{{'UPDATE' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="client" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-data-source="$root.clientSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="name" class="required" style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" id="name" name="name" class="k-textbox" required validationMessage="{{'WARNING_NAME' | translate }}"ng-model="name" /></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PROCESS_PATH' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="processPath" k-data-text-field="'name'" k-data-value-field="'id'"
                    k-data-source="processPathSource" required validationMessage="{{'WARNING_PROCESS_PATH' | translate }}">
            </select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="orderIndex" class="required" style="float:right">{{'ORDER_INDEX' | translate}}</label></div>
          <div class="formRight"><input type="number" id="orderIndex" name="orderIndex" class="k-textbox" ng-model="orderIndex" required validationMessage="{{'WARNING_ORDER_INDEX' | translate }}"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="description" class="required" style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" id="description" name="description" class="k-textbox" ng-model="description" /></div>
        </li>
        <li>
          <div class="gridToolbar">
            <kendo-button class="k-primary gridButton" ng-click="deleteDetail('pickingCategoryPositionGrid')"><span class="k-font-icon k-i-trash"></span>{{'DELETE' | translate }}</kendo-button>
          </div>
          <kendo-grid id="pickingCategoryPositionGrid" options="pickingCategoryPositionGridOptions"></kendo-grid>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'PICKING_CATEGORY_RULE' | translate }}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="pickingCategoryRule" style="width:25%;" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-data-source="pickingCategoryRuleSource"></select>
            <kendo-button class="k-button k-primary" style="margin-left:10%;" ng-click="addPickingCategoryPosition(pickingCategoryRule)">{{'SURE' | translate}}</kendo-button>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" ng-click="validate($event)">{{'UPDATE' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>