<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.item_unit"  href="#" >{{'ITEM_UNIT' | translate }}</a>&nbsp;/&nbsp;{{'CREATE' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label for="name" class="required" style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" id="name" name="name" class="k-textbox" required validationMessage="{{'WARNING_NAME' | translate}}" ng-model="name"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="unitType" class="required" style="float:right">{{'UNIT_TYPE' | translate}}</label></div>
          <div class="formRight"><input type="text" id="unitType" name="unitType" class="k-textbox" required validationMessage="{{'WARNING_UNIT_TYPE' | translate}}" ng-model="unitType"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="baseFactor" class="required" style="float:right">{{'BASE_FACTOR' | translate}}</label></div>
          <div class="formRight"><input type="number" id="baseFactor" name="baseFactor" class="k-textbox"  ng-model="baseFactor"/></div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'BASE_UNIT' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-ng-model="baseUnit" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-data-source="baseUnitSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" type="submit">{{'SAVE' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>