<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;
    <span>{{'MASTER_INBOUND' | translate }}&nbsp;/&nbsp;{{'RECEIVE_ELIGIBILITY' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <!-- up -->
    <div translate="USER"></div><hr/>
    <div class="mushiny_selectBox">
      <span class="mushiny_selectLabel" style="margin-left:-4px;" translate="USER"></span>
      <select kendo-combo-box class="mushiny_listInput" k-ng-model="selectUser" k-options="selectUserOptions"></select>
    </div>
    <!-- up-left -->
    <div class="mushiny_filterLabel" translate="UNASSIGN_THRESHOLD"></div>
    <div class="mushiny_listBox">
      <input class="k-textbox mushiny_listInput" type="text" ng-model="unAssignThreshold" ng-keyup="filterInput($event, 'listUnassignThresholds', unAssignThreshold)" />
      <div id="listUnassignThresholds" kendo-list-view k-options="listUnassignThresholds" class="mushiny_list"></div>
    </div>
    <div class="mushiny_listBtn" ng-include="'modules/masterData/base/templates/listBtn_horizontal.html'"></div>
    <!-- up-right -->
    <div class="mushiny_filterLabel" style="margin-left:-60px;" translate="ASSIGN_THRESHOLD"></div>
    <div class="mushiny_listBox">
      <input class="k-textbox mushiny_listInput" type="text" ng-model="assignThreshold" ng-keyup="filterInput($event, 'listAssignThresholds', assignThreshold)" />
      <div id="listAssignThresholds" kendo-list-view k-options="listAssignThresholds" class="mushiny_list"></div>
    </div>
    <div class="mushiny_btnBox">
      <kendo-button class="k-button k-primary mushiny_btn" ng-click="save(selectUser, 'listAssignThresholds', 'saveThresholdsByUser')" translate="SAVE"></kendo-button>
    </div>
  </div>
</div>