<div class="mushiny-container">
  <div class="mushiny-nav">
    <a ui-sref="main.mainMenu" href="#">{{'HOME' | translate }}</a>&nbsp;/&nbsp;<span>{{'MASTER_DATA' | translate }}&nbsp;/&nbsp;<a
    ui-sref="main.item_data"  href="#" >{{'ITEM_DATA' | translate }}</a>&nbsp;/&nbsp;{{'UPDATE' | translate }}</span>
  </div>
  <div style="margin-top:10px;height:{{ mainHeight+36 }}px;overflow:auto;">
    <form kendo-validator="validator" ng-submit="validate($event)">
      <ul class="ulCls">
        <li>
          <div class="formLeft"><label class="required" style="float:right">{{'CLIENT' | translate}}</label></div>
          <div class="formRight">
            <select kendo-combo-box k-change="'changeClient(client.id)'" k-ng-model="client" k-data-text-field="'name'" k-data-value-field="'id'"  k-filter="'contains'" readonly k-data-source="$root.clientSource"></select>
          </div>
        </li>
        <li>
          <div class="formLeft"><label for="name" class="required" style="float:right">{{'NAME' | translate}}</label></div>
          <div class="formRight"><input type="text" id="name" name="name" class="k-textbox" required validationMessage="{{'WARNING_NAME' | translate }}" ng-model="name"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="description" class="required" style="float:right">{{'DESCRIPTION' | translate}}</label></div>
          <div class="formRight"><input type="text" id="description" name="description" class="k-textbox" ng-model="description"/></div>
        </li>
        <li>
          <div class="formLeft"><label for="safetyStock" class="required" style="float:right">{{'SAFETY_STOCK' | translate}}</label></div>
          <div class="formRight"><input type="number" id="safetyStock" name="safetyStock" class="k-textbox" ng-model="safetyStock"/></div>
        </li>

        <li>
          <div class="formLeft"><label class="required" style="float:right">&nbsp;</label></div>
          <div class="formRight"><button class="k-button k-primary" type="submit">{{'UPDATE' | translate}}</button></div>
        </li>
      </ul>
    </form>
  </div>
</div>